header {
  background-image: url(../assets/img/bg-blue.png);
  position: relative;
}

.fold {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  z-index: -1;
}

.fold-tekst {
  color: var(--client-light-blue);
}

.titel {
  margin: .7rem 0 1.2rem;
  width: 66vw;
}

.header-locatie {
  font-size: 1.6em;
  margin: 0 .5em;
}

.header-date {
  margin: 1rem .75rem 1rem 0;
  color: var(--client-yellow);
}

.prog-title {
  font-size: 2.4em;
  color: white;
  z-index: 999;
}

.trompet, .magician, .masker, .ballon, .acrobat, .kegels {
  display: none;
}

@media (--lg) {

  .trompet {
    display: block;
    position: absolute;
    top: 6rem;
    right: 3rem;
    width: 10rem;
  }

  .masker {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10rem;
  }

  .magician {
    display: block;
    position: absolute;
    bottom: 0;
    left: -6rem;
    width: 15rem;
  }

  .ballon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15rem;
  }

  .prog-title {
    padding-bottom: 3rem;
    font-size: 3.6rem;
  }

  .acrobat {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18rem;
  }

  .kegels {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 0;
    width: 8rem;
  }

  .titel {
    width: 58vw;
  }
}

@media (--xl) {

  .titel {
    width: 50vw;
  }

  .prog-title {
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: 4.8rem;
  }

  .acrobat {
    top: 0;
    left: 0;
    width: 22rem;
  }

  .kegels {
    top: 1.5rem;
    right: 0;
    width: 10rem;
  }
}

@media (--xxl) {

  .trompet {
    top: 6rem;
    right: 8rem;
    width: 15rem;
  }

  .masker {
    bottom: 0;
    right: 0;
    width: 15rem;
  }

  .magician {
    bottom: 0;
    left: 1rem;
    width: 20rem;
  }

  .ballon {
    top: 0;
    left: 0;
    width: 20rem;
  }
}
