:root {
  --client-dark-grey: #666;
  --client-darkest-grey: #444;
  --client-black: #222;
  --client-blue: #407ab1;
}

@custom-media --sm screen and (min-width: 0);
@custom-media --md screen and (min-width: 21em);
@custom-media --lg screen and (min-width: 38.31em);
@custom-media --xl screen and (min-width: 60em);
