@import './css/reset.css';
@import './css/vars.css';
@import './css/site-header.css';
@import './css/main.css';
@import './css/navigation.css';

.hidden {
  display: none;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.helvetica {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}
